{% extends 'shop/basic1.html' %}

{% block masthead %}

        <header class="masthead mhdefault">
            <div class="container check">
                <div class="masthead-subheading" style="color:#212529;">Shopping Cart</div>
                <div class="masthead-heading text-uppercase" style="color:#212529;">Shopping Cart is Empty!</div>
                <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
            
        </header>
        <section class="page-section bg-light" >
            <div class="container">
                <p>
                    We wil put all extra sections here
                </p>
            </div>

        </section>

{% endblock %}
