
<div class="CheckoutPage-content-2HGhU">
    <div class="CheckoutPage-container-3yFet last-section-not-active">
        <div class="CheckoutPage-content-2HGhU">
            <div class="CheckoutPage-column-2dyde CheckoutPage-checkoutFlow-NEZGW">
                <div class="CheckoutSection-container-3i7k- index-section-1BrGA CheckoutSection-active-3T2WL"
                    data-test="customer-info-section-active">
                    <div class="CheckoutSection-Header-3wLlx index-sectionTitle-3TJY2">
                        <div class="CheckoutSection-content-1c3bA">
                            <span>Your Email</span>
                        </div>
                        <button class="CheckoutSection-editButton-1ot9a">
                            <span>Edit</span>
                        </button>
                    </div>
                    <div class="CheckoutSection-View-1Ba4M CheckoutSection-active-3T2WL">
                        <form novalidate="">
                            <div>
                                <div class="u-field-wrapper FieldWrapper-wrapper-17jnV CustomerInfoSection-email-3Yvsf undefined"
                                    data-test="wrapper">
                                    <input name="email" autocomplete="email" class="u-field-input Input-input-1_g1y"
                                        data-test="input" maxlength="100" placeholder="Email" type="email" value="">
                                    <div class="CustomerInfoSection-description-1Zabb">
                                        <span>You'll receive receipts and notifications at this email address.</span>
                                    </div>
                                </div>
                                <div class="CustomerInfoSection-loginPrompt-3x3DE">
                                    <span>Already have an account?</span>&nbsp;
                                    <button class="CustomerInfoSection-linkButton-3_WEs" type="button">
                                        <span>Sign in</span>
                                    </button>
                                </div>
                            </div>
                            <div class="ErrorMessages-container-1pmzK ErrorMessages-empty-17ts9" data-test="errors">

                            </div>
                            <div class="u-field-wrapper FieldWrapper-wrapper-17jnV CheckoutSection-continueButtonContainer-336IQ"
                                data-test="wrapper">
                                <button type="submit"
                                    class="u-field-button Button-button-lYn1y Button-primary-1gNmc button CheckoutSection-continueButton-10GdB"
                                    data-test="button">
                                    continue
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="CheckoutSection-container-3i7k- index-section-1BrGA CheckoutSection-incomplete-2eOkl CheckoutSection-emptyContent-1quEs"
                    data-test="shipping-info-section-incomplete">
                    <div class="CheckoutSection-overlay-1HlxA">

                    </div>
                    <div class="CheckoutSection-Header-3wLlx index-sectionTitle-3TJY2">
                        <div class="CheckoutSection-content-1c3bA">
                            <span>Shipping</span>
                        </div>
                        <button class="CheckoutSection-editButton-1ot9a">
                            <span>Edit</span>
                        </button>
                    </div>
                </div>
                <div class="CheckoutSection-container-3i7k- index-section-1BrGA CheckoutSection-incomplete-2eOkl"
                    data-test="billing-info-section-incomplete">
                    <div class="CheckoutSection-overlay-1HlxA">

                    </div>
                    <div class="CheckoutSection-Header-3wLlx index-sectionTitle-3TJY2">
                        <div class="CheckoutSection-content-1c3bA">
                            <span>Payment</span>
                        </div>
                        <button class="CheckoutSection-editButton-1ot9a">
                            <span>Edit</span>
                        </button>
                    </div>
                    <div class="CheckoutSection-View-1Ba4M CheckoutSection-active-3T2WL">
                        <div>
                            <div class="u-field-wrapper FieldWrapper-wrapper-17jnV" data-test="payment-options-select">
                                <div height="[object Object]" width="100%"
                                    class="TabSelect-controlWrapper-3yFyG css-c1ojsd">
                                    <div height="[object Object]" class="css-mv1k6l">

                                    </div>
                                    <div role="tablist" tabindex="-1" height="[object Object]" display="flex"
                                        class="css-1ut6hxd">
                                        <button aria-controls="STRIPE-tab" aria-selected="true" color="gray.100"
                                            display="flex" font-weight="medium" height="inherit" role="tab" tabindex="0"
                                            value="STRIPE" data-test="credit-card" class="css-ucr8go">Credit
                                            Card</button>
                                        <button aria-controls="PAYPAL-tab" aria-selected="false" color="gray.300"
                                            display="flex" font-weight="medium" height="inherit" role="tab" tabindex="0"
                                            value="PAYPAL" data-test="paypal" class="css-6e0xfq">PayPal</button>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <form novalidate="" data-test="payment-card-billing-form">
                                    <div class="FauxStripeElementsCardInput-container-1kOh5">
                                        <div class="FauxStripeElementsCardInput-cardNumber-2XBgX">4242 4242 4242 4242
                                        </div>
                                        <div class="FauxStripeElementsCardInput-expiration-KRTa1">10/24</div>
                                        <div>123</div>
                                        <div class="FauxStripeElementsCardInput-overlay-2oOpQ">

                                        </div>
                                    </div>
                                    <div class="PaymentCardBillingForm-comfortMessage-35638">
                                        <span>Transactions are secure and encrypted.</span>
                                    </div>
                                    <div class="ErrorMessages-container-1pmzK ErrorMessages-empty-17ts9"
                                        data-test="payment-errors">

                                    </div>
                                    <div class="BillingAddressForm-container-1ccXS">
                                        <div class="BillingAddressForm-title-m75rH index-subSectionTitle-3Imum">
                                            <span>Billing Address</span>
                                        </div>
                                        <div class="u-field-wrapper FieldWrapper-wrapper-17jnV" data-test="wrapper">
                                            <div
                                                class="u-field-check Check-check-RopZW BillingAddressForm-billToShipping-1ztl5 undefined">
                                                <label data-test="check">
                                                    <input type="checkbox" aria-disabled="false">
                                                    <div class="u-field-check-circle Check-circle-1PFH2">

                                                    </div>
                                                    <div class="u-field-check-title Check-title-rMmLj">Use shipping
                                                        address</div>
                                                    <div
                                                        class="u-field-check-circle-filler Check-circleFiller-3lIaX icons-aureusCheck-2yllG">

                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div data-test="customer-address-form">
                                            <div>
                                                <div class="u-field-wrapper FieldWrapper-wrapper-17jnV NameInput-firstName-gLFu1 undefined"
                                                    data-test="wrapper">
                                                    <input name="fname" autocomplete="billing first-name given-name"
                                                        class="u-field-input Input-input-1_g1y" data-test="first-name"
                                                        maxlength="50" placeholder="First Name" type="text" value="">
                                                </div>
                                                <div class="u-field-wrapper FieldWrapper-wrapper-17jnV NameInput-lastName-2NkOl undefined"
                                                    data-test="wrapper">
                                                    <input name="lname" autocomplete="billing last-name family-name"
                                                        class="u-field-input Input-input-1_g1y" data-test="last-name"
                                                        maxlength="50" placeholder="Last Name" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="AddressInput-container-3QJpM">
                                                <div>
                                                    <div class="u-field-wrapper FieldWrapper-wrapper-17jnV undefined"
                                                        data-test="wrapper">
                                                        <input name="street-address address-line1"
                                                            autocomplete="billing street-address address-line1"
                                                            class="u-field-input Input-input-1_g1y" data-test="line1"
                                                            maxlength="70" placeholder="Address 1" type="text" value="">
                                                    </div>
                                                    <div>

                                                    </div>
                                                </div>
                                                <div class="u-field-wrapper FieldWrapper-wrapper-17jnV undefined"
                                                    data-test="wrapper">
                                                    <input name="street-address address-line2"
                                                        autocomplete="billing street-address address-line2"
                                                        class="u-field-input Input-input-1_g1y" data-test="line2"
                                                        maxlength="70" placeholder="Address 2" type="text" value="">
                                                </div>
                                                <div class="u-field-wrapper FieldWrapper-wrapper-17jnV undefined"
                                                    data-test="wrapper">
                                                    <div
                                                        class="u-field-select Select-container-1Y03s composables-formField-2jgYY">
                                                        <div
                                                            class="Select-selectedValue-3ZruB typography-ellipsis-EP8YV">
                                                            United States</div>
                                                        <select name="country" class="Select-selectField-1l9h_"
                                                            data-test="country">
                                                            <option value="AF">Afghanistan</option>
                                                            <option value="AX">Aland Islands</option>
                                                            <option value="AL">Albania</option>
                                                            <option value="DZ">Algeria</option>
                                                            <option value="AS">American Samoa</option>
                                                            <option value="AD">Andorra</option>
                                                            <option value="AO">Angola</option>
                                                            <option value="AI">Anguilla</option>
                                                            <option value="AQ">Antarctica</option>
                                                            <option value="AG">Antigua and Barbuda</option>
                                                            <option value="AR">Argentina</option>
                                                            <option value="AM">Armenia</option>
                                                            <option value="AW">Aruba</option>
                                                            <option value="AU">Australia</option>
                                                            <option value="AT">Austria</option>
                                                            <option value="AZ">Azerbaijan</option>
                                                            <option value="BS">Bahamas</option>
                                                            <option value="BH">Bahrain</option>
                                                            <option value="BD">Bangladesh</option>
                                                            <option value="BB">Barbados</option>
                                                            <option value="BY">Belarus</option>
                                                            <option value="BE">Belgium</option>
                                                            <option value="BZ">Belize</option>
                                                            <option value="BJ">Benin</option>
                                                            <option value="BM">Bermuda</option>
                                                            <option value="BT">Bhutan</option>
                                                            <option value="BO">Bolivia</option>
                                                            <option value="BA">Bosnia and Herzegovina</option>
                                                            <option value="BW">Botswana</option>
                                                            <option value="BV">Bouvet Island</option>
                                                            <option value="BR">Brazil</option>
                                                            <option value="IO">British Indian Ocean Territory</option>
                                                            <option value="BN">Brunei Darussalam</option>
                                                            <option value="BG">Bulgaria</option>
                                                            <option value="BF">Burkina Faso</option>
                                                            <option value="BI">Burundi</option>
                                                            <option value="KH">Cambodia</option>
                                                            <option value="CM">Cameroon</option>
                                                            <option value="CA">Canada</option>
                                                            <option value="CV">Cape Verde</option>
                                                            <option value="BQ">Caribbean Netherlands</option>
                                                            <option value="KY">Cayman Islands</option>
                                                            <option value="CF">Central African Republic</option>
                                                            <option value="TD">Chad</option>
                                                            <option value="CL">Chile</option>
                                                            <option value="CN">China</option>
                                                            <option value="CX">Christmas Island</option>
                                                            <option value="CC">Cocos (Keeling) Islands</option>
                                                            <option value="CO">Colombia</option>
                                                            <option value="KM">Comoros</option>
                                                            <option value="CG">Congo</option>
                                                            <option value="CD">Congo, Democratic Republic</option>
                                                            <option value="CK">Cook Islands</option>
                                                            <option value="CR">Costa Rica</option>
                                                            <option value="CI">Cote d'Ivoire</option>
                                                            <option value="HR">Croatia</option>
                                                            <option value="CW">Curaçao</option>
                                                            <option value="CY">Cyprus</option>
                                                            <option value="CZ">Czech Republic</option>
                                                            <option value="DK">Denmark</option>
                                                            <option value="DJ">Djibouti</option>
                                                            <option value="DM">Dominica</option>
                                                            <option value="DO">Dominican Republic</option>
                                                            <option value="EC">Ecuador</option>
                                                            <option value="EG">Egypt</option>
                                                            <option value="SV">El Salvador</option>
                                                            <option value="GQ">Equatorial Guinea</option>
                                                            <option value="ER">Eritrea</option>
                                                            <option value="EE">Estonia</option>
                                                            <option value="ET">Ethiopia</option>
                                                            <option value="FK">Falkland Islands (Malvinas)</option>
                                                            <option value="FO">Faroe Islands</option>
                                                            <option value="FJ">Fiji</option>
                                                            <option value="FI">Finland</option>
                                                            <option value="FR">France</option>
                                                            <option value="GF">French Guiana</option>
                                                            <option value="PF">French Polynesia</option>
                                                            <option value="TF">French Southern Territories</option>
                                                            <option value="GA">Gabon</option>
                                                            <option value="GM">Gambia</option>
                                                            <option value="GE">Georgia</option>
                                                            <option value="DE">Germany</option>
                                                            <option value="GH">Ghana</option>
                                                            <option value="GI">Gibraltar</option>
                                                            <option value="GR">Greece</option>
                                                            <option value="GL">Greenland</option>
                                                            <option value="GD">Grenada</option>
                                                            <option value="GP">Guadeloupe</option>
                                                            <option value="GU">Guam</option>
                                                            <option value="GT">Guatemala</option>
                                                            <option value="GG">Guernsey</option>
                                                            <option value="GN">Guinea</option>
                                                            <option value="GW">Guinea-Bissau</option>
                                                            <option value="GY">Guyana</option>
                                                            <option value="HT">Haiti</option>
                                                            <option value="HM">Heard and McDonald Islands</option>
                                                            <option value="HN">Honduras</option>
                                                            <option value="HK">Hong Kong</option>
                                                            <option value="HU">Hungary</option>
                                                            <option value="IS">Iceland</option>
                                                            <option value="IN">India</option>
                                                            <option value="ID">Indonesia</option>
                                                            <option value="IQ">Iraq</option>
                                                            <option value="IE">Ireland</option>
                                                            <option value="IM">Isle of Man</option>
                                                            <option value="IL">Israel</option>
                                                            <option value="IT">Italy</option>
                                                            <option value="JM">Jamaica</option>
                                                            <option value="JP">Japan</option>
                                                            <option value="JE">Jersey</option>
                                                            <option value="JO">Jordan</option>
                                                            <option value="KZ">Kazakhstan</option>
                                                            <option value="KE">Kenya</option>
                                                            <option value="KI">Kiribati</option>
                                                            <option value="KR">Korea (the Republic of)</option>
                                                            <option value="XK">Kosovo</option>
                                                            <option value="KW">Kuwait</option>
                                                            <option value="KG">Kyrgyzstan</option>
                                                            <option value="LA">Laos</option>
                                                            <option value="LV">Latvia</option>
                                                            <option value="LB">Lebanon</option>
                                                            <option value="LS">Lesotho</option>
                                                            <option value="LR">Liberia</option>
                                                            <option value="LY">Libya</option>
                                                            <option value="LI">Liechtenstein</option>
                                                            <option value="LT">Lithuania</option>
                                                            <option value="LU">Luxembourg</option>
                                                            <option value="MO">Macau</option>
                                                            <option value="MK">Macedonia</option>
                                                            <option value="MG">Madagascar</option>
                                                            <option value="MW">Malawi</option>
                                                            <option value="MY">Malaysia</option>
                                                            <option value="MV">Maldives</option>
                                                            <option value="ML">Mali</option>
                                                            <option value="MT">Malta</option>
                                                            <option value="MH">Marshall Islands</option>
                                                            <option value="MQ">Martinique</option>
                                                            <option value="MR">Mauritania</option>
                                                            <option value="MU">Mauritius</option>
                                                            <option value="YT">Mayotte</option>
                                                            <option value="MX">Mexico</option>
                                                            <option value="FM">Micronesia</option>
                                                            <option value="MD">Moldova</option>
                                                            <option value="MC">Monaco</option>
                                                            <option value="MN">Mongolia</option>
                                                            <option value="ME">Montenegro</option>
                                                            <option value="MS">Montserrat</option>
                                                            <option value="MA">Morocco</option>
                                                            <option value="MZ">Mozambique</option>
                                                            <option value="NA">Namibia</option>
                                                            <option value="NR">Nauru</option>
                                                            <option value="NP">Nepal</option>
                                                            <option value="NL">Netherlands</option>
                                                            <option value="AN">Netherlands Antilles</option>
                                                            <option value="NC">New Caledonia</option>
                                                            <option value="NZ">New Zealand</option>
                                                            <option value="NI">Nicaragua</option>
                                                            <option value="NE">Niger</option>
                                                            <option value="NG">Nigeria</option>
                                                            <option value="NU">Niue</option>
                                                            <option value="NF">Norfolk Island</option>
                                                            <option value="MP">Northern Mariana Islands</option>
                                                            <option value="NO">Norway</option>
                                                            <option value="OM">Oman</option>
                                                            <option value="PK">Pakistan</option>
                                                            <option value="PW">Palau</option>
                                                            <option value="PS">Palestine, State of</option>
                                                            <option value="PA">Panama</option>
                                                            <option value="PG">Papua New Guinea</option>
                                                            <option value="PY">Paraguay</option>
                                                            <option value="PE">Peru</option>
                                                            <option value="PH">Philippines</option>
                                                            <option value="PN">Pitcairn</option>
                                                            <option value="PL">Poland</option>
                                                            <option value="PT">Portugal</option>
                                                            <option value="PR">Puerto Rico</option>
                                                            <option value="QA">Qatar</option>
                                                            <option value="RE">Reunion</option>
                                                            <option value="RO">Romania</option>
                                                            <option value="RU">Russian Federation</option>
                                                            <option value="RW">Rwanda</option>
                                                            <option value="BL">Saint Barthelemy</option>
                                                            <option value="SH">Saint Helena</option>
                                                            <option value="KN">Saint Kitts and Nevis</option>
                                                            <option value="LC">Saint Lucia</option>
                                                            <option value="PM">Saint Pierre and Miquelon</option>
                                                            <option value="VC">Saint Vincent and the Grenadines</option>
                                                            <option value="WS">Samoa</option>
                                                            <option value="SM">San Marino</option>
                                                            <option value="ST">Sao Tome and Principe</option>
                                                            <option value="SA">Saudi Arabia</option>
                                                            <option value="SN">Senegal</option>
                                                            <option value="RS">Serbia</option>
                                                            <option value="SC">Seychelles</option>
                                                            <option value="SL">Sierra Leone</option>
                                                            <option value="SG">Singapore</option>
                                                            <option value="SX">Sint Maarten</option>
                                                            <option value="SK">Slovakia</option>
                                                            <option value="SI">Slovenia</option>
                                                            <option value="SB">Solomon Islands</option>
                                                            <option value="SO">Somalia</option>
                                                            <option value="ZA">South Africa</option>
                                                            <option value="GS">South Georgia and the South Sandwich
                                                                Islands</option>
                                                            <option value="ES">Spain</option>
                                                            <option value="LK">Sri Lanka</option>
                                                            <option value="SR">Suriname</option>
                                                            <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                                            <option value="SZ">Swaziland</option>
                                                            <option value="SE">Sweden</option>
                                                            <option value="CH">Switzerland</option>
                                                            <option value="TW">Taiwan</option>
                                                            <option value="TJ">Tajikistan</option>
                                                            <option value="TZ">Tanzania</option>
                                                            <option value="TH">Thailand</option>
                                                            <option value="TL">Timor-Leste</option>
                                                            <option value="TG">Togo</option>
                                                            <option value="TK">Tokelau</option>
                                                            <option value="TO">Tonga</option>
                                                            <option value="TT">Trinidad and Tobago</option>
                                                            <option value="TN">Tunisia</option>
                                                            <option value="TR">Turkey</option>
                                                            <option value="TM">Turkmenistan</option>
                                                            <option value="TC">Turks and Caicos Islands</option>
                                                            <option value="TV">Tuvalu</option>
                                                            <option value="UG">Uganda</option>
                                                            <option value="UA">Ukraine</option>
                                                            <option value="AE">United Arab Emirates</option>
                                                            <option value="GB">United Kingdom</option>
                                                            <option value="US">United States</option>
                                                            <option value="UM">United States Minor Outlying Islands
                                                            </option>
                                                            <option value="UY">Uruguay</option>
                                                            <option value="UZ">Uzbekistan</option>
                                                            <option value="VU">Vanuatu</option>
                                                            <option value="VA">Vatican City State (Holy See)</option>
                                                            <option value="VE">Venezuela</option>
                                                            <option value="VN">Vietnam</option>
                                                            <option value="VG">Virgin Islands (British)</option>
                                                            <option value="VI">Virgin Islands (U.S.)</option>
                                                            <option value="WF">Wallis and Futuna Islands</option>
                                                            <option value="EH">Western Sahara</option>
                                                            <option value="YE">Yemen</option>
                                                            <option value="ZM">Zambia</option>
                                                            <option value="ZW">Zimbabwe</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="u-field-wrapper FieldWrapper-wrapper-17jnV AddressInput-postalCode-1tgvx undefined"
                                                    data-test="wrapper"><input name="postal-code zip-code zip"
                                                        autocomplete="billing postal-code zip-code zip"
                                                        class="u-field-input Input-input-1_g1y" data-test="postal-code"
                                                        maxlength="70" placeholder="ZIP Code" type="text" value="">
                                                </div>
                                                <div class="u-field-wrapper FieldWrapper-wrapper-17jnV AddressInput-city-3uuEf undefined"
                                                    data-test="wrapper"><input name="address-level2 city"
                                                        autocomplete="billing address-level2 city"
                                                        class="u-field-input Input-input-1_g1y" data-test="city"
                                                        maxlength="70" placeholder="City" type="text" value=""></div>
                                                <div class="u-field-wrapper FieldWrapper-wrapper-17jnV AddressInput-region-17P-D undefined"
                                                    data-test="wrapper">
                                                    <div
                                                        class="u-field-select Select-container-1Y03s composables-formField-2jgYY Select-isDefaultValue-3-DB9">
                                                        <div
                                                            class="Select-selectedValue-3ZruB typography-ellipsis-EP8YV Select-placeholder-3CSLR">
                                                            State</div><select name="address-level1 region"
                                                            class="Select-selectField-1l9h_" data-test="region">
                                                            <option value=""></option>
                                                            <option value="AL">AL</option>
                                                            <option value="AK">AK</option>
                                                            <option value="AZ">AZ</option>
                                                            <option value="AR">AR</option>
                                                            <option value="CA">CA</option>
                                                            <option value="CO">CO</option>
                                                            <option value="CT">CT</option>
                                                            <option value="DE">DE</option>
                                                            <option value="DC">DC</option>
                                                            <option value="FL">FL</option>
                                                            <option value="GA">GA</option>
                                                            <option value="HI">HI</option>
                                                            <option value="ID">ID</option>
                                                            <option value="IL">IL</option>
                                                            <option value="IN">IN</option>
                                                            <option value="IA">IA</option>
                                                            <option value="KS">KS</option>
                                                            <option value="KY">KY</option>
                                                            <option value="LA">LA</option>
                                                            <option value="ME">ME</option>
                                                            <option value="MD">MD</option>
                                                            <option value="MA">MA</option>
                                                            <option value="MI">MI</option>
                                                            <option value="MN">MN</option>
                                                            <option value="MS">MS</option>
                                                            <option value="MO">MO</option>
                                                            <option value="MT">MT</option>
                                                            <option value="NE">NE</option>
                                                            <option value="NV">NV</option>
                                                            <option value="NH">NH</option>
                                                            <option value="NJ">NJ</option>
                                                            <option value="NM">NM</option>
                                                            <option value="NY">NY</option>
                                                            <option value="NC">NC</option>
                                                            <option value="ND">ND</option>
                                                            <option value="OH">OH</option>
                                                            <option value="OK">OK</option>
                                                            <option value="OR">OR</option>
                                                            <option value="PA">PA</option>
                                                            <option value="RI">RI</option>
                                                            <option value="SC">SC</option>
                                                            <option value="SD">SD</option>
                                                            <option value="TN">TN</option>
                                                            <option value="TX">TX</option>
                                                            <option value="UT">UT</option>
                                                            <option value="VT">VT</option>
                                                            <option value="VA">VA</option>
                                                            <option value="WA">WA</option>
                                                            <option value="WV">WV</option>
                                                            <option value="WI">WI</option>
                                                            <option value="WY">WY</option>
                                                            <option value="AA">AA</option>
                                                            <option value="AE">AE</option>
                                                            <option value="AP">AP</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="u-field-wrapper FieldWrapper-wrapper-17jnV CustomerAddressForm-phoneNumber-1Ls5t undefined"
                                                data-test="wrapper"><input autocomplete="tel"
                                                    class="u-field-input Input-input-1_g1y" data-test="phone-number"
                                                    maxlength="50" placeholder="Phone Number" type="tel" value=""></div>
                                        </div>
                                    </div>
                                    <div class="ErrorMessages-container-1pmzK ErrorMessages-empty-17ts9"
                                        data-test="errors"></div>
                                    <div class="u-field-wrapper FieldWrapper-wrapper-17jnV CheckoutSection-continueButtonContainer-336IQ"
                                        data-test="wrapper"><button type="submit"
                                            class="u-field-button Button-button-lYn1y Button-primary-1gNmc button CheckoutSection-continueButton-10GdB"
                                            data-test="button">continue</button></div>
                                </form>
                            </div>
                            <div class="BillingInfoSection-hidden-1Xr6z">
                                <form novalidate="" data-test="paypal-billing-form">
                                    <div><button class="FauxPayWithPayPalButton-button-1potw">
                                            <div class="FauxPayWithPayPalButton-label-3Yo7D"><span>Pay with</span></div>
                                            <div class="FauxPayWithPayPalButton-payPalLogo-1YXeK"></div>
                                        </button></div>
                                    <div class="ErrorMessages-container-1pmzK ErrorMessages-empty-17ts9"
                                        data-test="payment-errors"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="CheckoutSection-View-1Ba4M CheckoutSection-visited-3rSR7">
                        <div class="PaymentCardBillingForm-viewMode-1tI35">
                            <div class="CustomerAddress-container-38n3y">
                                <div class="CustomerAddress-name-2Lodb"> </div>
                                <div></div>
                                <div><span class="Address-line1-3gMfC"></span><span
                                        class="Address-line2-3CdI5"></span><span></span><span></span><span></span><span
                                        class="Address-country-3ISmU">United States</span></div>
                            </div>
                            <div class="PaymentCard-container-1cDNG">
                                <div class="PaymentCard-number-fITCk">XXXX-4242</div>
                                <div class="PaymentCard-type-C70m0"></div>
                                <div class="PaymentCard-expiration-4wcT2">Exp. 08/20</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="CheckoutSection-container-3i7k- index-section-1BrGA CheckoutSection-incomplete-2eOkl CheckoutSection-emptyContent-1quEs"
                    data-test="review-section-incomplete">
                    <div class="CheckoutSection-overlay-1HlxA"></div>
                    <div class="CheckoutSection-Header-3wLlx index-sectionTitle-3TJY2">
                        <div class="CheckoutSection-content-1c3bA"><span>Review &amp; Purchase</span></div>
                    </div>
                </div>
            </div>
            <div class="CheckoutPage-column-2dyde">
                <div class="CheckoutSummary-container-y9T-P" style="top: 0px;">
                    <div class="CheckoutSummary-section-2BvwX index-section-1BrGA">
                        <div>
                            <div class="CartSummary-header-3g6iT index-sectionTitle-3TJY2"><span>Order Summary</span>
                            </div>
                            <div class="CartItem-cartItem-3VnRG CartItem-isStackableProduct-2Yt3x">
                                <div class="CartItem-image-3Wiuf"><img
                                        src="./Hester_ Secure Checkout_files/download.jpeg"></div>
                                <div class="CartItem-price-2H8W1"><span class="money">$10.00</span></div>
                                <div class="CartItem-quantity-2AGo8">
                                    <div>
                                        <div class="u-field-wrapper FieldWrapper-wrapper-17jnV ItemQuantityInput-inputWrapper-3cGbc"
                                            data-test="wrapper">
                                            <div class="u-field-label Label-label-1ENff" data-test="label">Qty</div>
                                            <input autocomplete="off"
                                                class="u-field-input Input-input-1_g1y Input-hasValue-39tvZ"
                                                type="number" value="1">
                                        </div>
                                    </div>
                                </div><button class="CartItem-remove-ovk7r"
                                    data-test="remove-cart-item"><span>Remove</span></button>
                                <div class="CartItem-itemInfo-2JjnX">
                                    <div class="CartItem-productName-34bcb">Beni Shoga</div>
                                </div>
                            </div>
                            <div class="CartItem-cartItem-3VnRG CartItem-isStackableProduct-2Yt3x">
                                <div class="CartItem-image-3Wiuf"><img
                                        src="./Hester_ Secure Checkout_files/download+(1).jpeg"></div>
                                <div class="CartItem-price-2H8W1"><span class="money">$10.00</span></div>
                                <div class="CartItem-quantity-2AGo8">
                                    <div>
                                        <div class="u-field-wrapper FieldWrapper-wrapper-17jnV ItemQuantityInput-inputWrapper-3cGbc"
                                            data-test="wrapper">
                                            <div class="u-field-label Label-label-1ENff" data-test="label">Qty</div>
                                            <input autocomplete="off"
                                                class="u-field-input Input-input-1_g1y Input-hasValue-39tvZ"
                                                type="number" value="1">
                                        </div>
                                    </div>
                                </div><button class="CartItem-remove-ovk7r"
                                    data-test="remove-cart-item"><span>Remove</span></button>
                                <div class="CartItem-itemInfo-2JjnX">
                                    <div class="CartItem-productName-34bcb">Do Chua</div>
                                </div>
                            </div>
                            <div class="ErrorMessages-container-1pmzK ErrorMessages-empty-17ts9"></div>
                            <div class="CartTotals-container-2wBLB">
                                <div>
                                    <div class="CheckoutTotal-container-3Eugw">
                                        <div class="CheckoutTotal-label-18TNP">Subtotal</div>
                                        <div class="CheckoutTotal-amount-Lh4k5"><span class="money">$20.00</span></div>
                                    </div>
                                    <div class="CheckoutTotal-container-3Eugw">
                                        <div class="CheckoutTotal-label-18TNP">Tax</div>
                                        <div class="CheckoutTotal-amount-Lh4k5"><span>-</span></div>
                                    </div>
                                    <div class="CheckoutTotal-container-3Eugw">
                                        <div class="CheckoutTotal-label-18TNP">Shipping</div>
                                        <div class="CheckoutTotal-amount-Lh4k5"><span>-</span></div>
                                    </div>
                                </div>
                                <div class="CheckoutTotal-container-3Eugw CartTotals-grandTotal-Ry9vh">
                                    <div class="CheckoutTotal-label-18TNP">Total</div>
                                    <div class="CheckoutTotal-amount-Lh4k5"><span class="money">$20.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>